<div class="row">
  <div class="col-10"></div>
  <div class="col-2"><a class="btn btn-light"  href="/ideas/index">Bright Ideas</a></div>
</div>
<div class="row">
  <div class="col-2 mt-2" >
    <a  href="/users/<%= @idea.user.id %>"><%= @idea.user.alias %></a>
    <span>says:</span>
  </div>
  <div class="col-4">
    <p class="mt-2 border pl-1 pb-4"><%= @idea.content %></p>
  </div>
  <div class="col-6"></div>

</div>
<h2>People who liked this post:</h2>
<table class="table table-bordered table-striped table-hover">
  <thead class="thead-dark">
  <tr>
    <th>Alias</th>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><a href="/users/<%= user.id %>"><%= user.alias.titleize %></a></td>
      <td><%= user.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>
