<!-- generated from the scaffold form template -->
<!--, :url => { :action => "create" }-->

<%= simple_form_for @user do |f| %>
  <fieldset>
    <legend>Registration</legend>

    <div class="form-inputs">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :password_confirmation, label: false %>
      <%#= f.input :alias %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Register",
                   class:      "btn btn-primary",
                   formaction: "users",
                   formmethod: "post" %>
    </div>
  </fieldset>
<% end %>